{% extends 'base.html.twig' %}

{% block title %}Formulaire tournee{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-12 col-xxl-10">
            <div class="card border-0 shadow-sm rounded-5">
                <div class="card-body p-4 p-lg-5">
                    {% if customContent is defined %}
                        {{ customContent|raw }}
                    {% else %}
                        {% include 'tour/_form.html.twig' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
